<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ishitasinha.sampleapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:theme"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:label="@string/search"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ishitasinha.sampleapp.MainActivity" />
        </activity>
        <activity
            android:name=".SectionsActivity"
            android:label="@string/title_activity_sections"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ishitasinha.sampleapp.MainActivity" />
        </activity>
        <activity
            android:name=".DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SectionDetailsActivity"
            android:parentActivityName=".SectionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ishitasinha.sampleapp.SectionsActivity" />
        </activity>
        <activity android:name=".StoriesByTagActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ishitasinha.sampleapp.MainActivity" />
        </activity>
        <activity
            android:name=".ImageSliderActivity"
            android:theme="@style/TransparentActionBar" />
        <activity android:name=".SectionPagerActivity"></activity>
    </application>

</manifest>